@{
    ViewData["Title"] = "Borrower";
    Layout = "_LayoutBorrower";
}

<div class="col-12 d-flex justify-content-between align-items-center">
    <h2>Requested Loan List</h2>

    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Filter by Status
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item"  onclick="loadLoansByStatus('requested')">Requested</a></li>
            <li><a class="dropdown-item"  onclick="loadLoansByStatus('funded')">Funded</a></li>
            <li><a class="dropdown-item" onclick="loadLoansByStatus('paid')">Paid</a></li>
            <li><a class="dropdown-item"  onclick="loadLoansByStatus('all')">All</a></li>
        </ul>
    </div>
</div>



<table class="table table-dark mt-3" id="historyTable">
    <thead>
        <trt>
            <th>Peminjam</th>
            <th>Jumlah Pinjaman</th>
            <th>Bunga</th>
            <th>Status</th>
            <th>Actions</th>

        </trt>
    </thead>
    <tbody>
    </tbody>

</table>

<div class="modal fade" id="showLoanModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="showLoanModalLabel">Detail Loan</h5>
            </div>
            <div class="modal-body">
                <form id="editUserForm">

                    <div class="form-group">
                        <label for="borrowerName">Name</label>
                        <p> <span id="borrowerName"></span></p>
                    </div>

                    <div class="form-group">
                        <label for="amount">Amount</label>
                        <p> <span id="amount"></span></p>
                    </div>

                    <div class="form-group">
                        <label for="interestRate">Bunga</label>
                        <p> <span id="interestRate"></span></p>
                    </div>

                    <div class="form-group">
                        <label for="duration">Durasi</label>
                        <p> <span id="duration"></span></p>
                    </div>

                    <div class="form-group">
                        <label for="status">Status</label>
                        <p> <span id="status"></span></p>
                    </div>


                    <div class="form-group">
                        <label for="returnAmount">Jumlah Pengembalian</label>
                        <p><span id="returnAmount"></span></p>
                    </div>

                    <div class="form-group">
                        <label for="returnInterest">Keuntungan Dari Bunga</label>
                        <p><span id="returnInterest"></span></p>
                    </div>

                    <div class="form-group">
                        <label for="createdAt">Dibuat</label>
                        <p> <span id="createdAt"></span></p>
                    </div>

                    <div class="form-group">
                        <label for="updatedAt">Terakhir Update</label>
                        <p> <span id="updatedAt"></span></p>
                    </div>


                    <input type="hidden" id="loanId" />
                </form>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="requestLoanModal" tabindex="-1" aria-labelledby="requestLoanModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="requestLoanModalLabel">Request Loan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="loanAmount" class="form-label">Jumlah Pinjaman</label>
                        <input type="number" class="form-control" id="loanAmount" placeholder="Enter jumlah pinjaman">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="requestLoan()">Request</button>
            </div>
        </div>
    </div>
</div>




<script src="~/js/history-loan.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>